# Ignore Composer dependencies
/vendor/
/recipes/
# Ignore Drupal core and contributed assets
/web/core/
/web/modules/contrib/
/web/themes/contrib/
/web/profiles/contrib/
/web/libraries/

# Ignore site-specific configuration and uploads
/web/sites/*/settings.local.php
/web/sites/*/files/
/web/sites/*/private/

# Ignore development tools & environment files
.env
.env.local
/.ddev/

